<div class='ui dynamic_filter'>

  <select {{action 'change' on='change'}}>
    {{#each weekDays key="@index" as |item|}}
      <option value={{item.id}} selected={{is-equal item selectedValue}}>
        {{item.name}}
      </option>
    {{/each}}
  </select>

</div>
