.options {
  float: right;
  margin-top: 0.35rem;
  font-size: 1.1rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.options_menu_list {
  width: 12rem;
  margin-left: -6rem;
  background-color: #002136;
  margin-top: 2.5rem;
  position: absolute;
  z-index: 100;

  @media #{$small-only} {
    width: 10.5rem;
    margin-left: -5rem;
  }

  /* box-shadow style */
  -webkit-box-shadow: -8px 8px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 8px 25px 1px rgba(0,0,0,0.75);
  box-shadow: -8px 8px 25px 1px rgba(0,0,0,0.75);

  .option_menu {
    padding: 0 1rem;
    line-height: 2.8rem;

    i {
      margin-right: 0.5rem;
    }
  }

  .add_item_option {
    border-bottom: 0.1rem solid #334f75;
  }

  .merge_option {
    border-top: 0.1rem solid #334f75;
  }

  a {
    float: none;

    @media #{$small-only} {
      font-size: 0.85rem;
    }
  }
}
