// app-menu-list styles
ul.off-canvas-list li a {
  padding-left: 2rem !important;
}

.submitted_page {
  &.tab-bar {
    margin-bottom: 0.5rem;
  }
}

// offers list styles
.inbox_page {
  span.info {
    .time_indicator {
      color: $white;
      div {
        display: inline-block;
      }
    }
    div {
      font-size: 0.63rem;
    }
  }

  .row.offer {
    margin-top: 0.7rem;
    margin-right: 0.3rem;
  }

  .item-image {
    width: 4.5rem; }
}

.unread_message_count {
  position: absolute;
  top: 0.15rem;
  width: 80px;
  left: 27px;
  z-index: 2;
  @media #{$small-only} {
    top: 0.2rem;
  }
}

/*app_menu_list template*/
ul.off-canvas-list li a {
  padding-left: 2rem !important;
}

.menu_notification {
  display: inline-block;
  padding-left: 1.2rem;
  div {
    color: $white;
  }
}

.menu_notification, .unread_message_count, .unread{
  .unread_length{
    font-size: 0.7rem;
  }
}
