.review_item {

  .tabs-content {
    @media #{$medium-only} {
      padding-bottom: 3rem;
    }
  }

  .message-textbar{
    position: relative;
  }
  .row-grey {
    height: 100%;
    background: $light-grey;
    .tabs {
      background: $dark-blue;
    }
  }

  i.unread {
    vertical-align: top;
    color: $alert-color !important;
    font-size: 0.7rem;

    @media #{$small-only} {
      font-size: 0.5rem;
    }
  }

  .fa-compress {
    padding-top: 0.5rem;
  }

  .right {
    span {
      font-size: 1.1rem;
      vertical-align: 0.35rem;
    }
  }

  .edit-item-link{
    float: right;
    color: $white;
    cursor: pointer;
    padding: 0.25rem 0.6rem;
    @media #{$small-only} {
      font-size: 1rem;
    }
  }
  .disable-canceloffer-review{
    pointer-events: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
    cursor: not-allowed;
  }

  .item_lable_input {
    a {
      text-decoration: none;
    }

    input {
      @media #{$small-only} {
        font-size: 0.9rem;
      }
    }

    input[disabled] {
      background-color: white;
      opacity: 1;
    }
  }
}

.accept_widget {
  i, .add_package_link {
    cursor: pointer;
  }

  .icon-center {
    .fa-plus-circle, .fa-minus-circle {
      @media #{$small-only} {
        font-size: 1.35rem;
        padding: 0;
        margin-right: -0.6rem;
        display: inline;
      }
    }
  }
}

.accept_item {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.copy_icon {
  padding: 0rem 0.5rem;
}

.fixed_item_type_search {
    -webkit-transform: translate(-50%,0);
    position: fixed;
    z-index: 1000;
    left: 50%;
}

.item_types_result {
  padding-top: 3rem;

  .package_name {
    color: white;
    font-size: 0.85rem;
  }

  em {
    font-style: inherit;
    background: #ff6;
    color: black;
  }
}

