<div class="tabs-content item-content">
  <ul class="list list-offer-items">

    {{#each sortedItems as |item|}}
      <li>
        {{#if item.isOffer}}
          {{#link-to 'offer.donor_messages' model}}
            {{partial 'offer/recent_offer_message'}}
          {{/link-to}}
        {{else}}
          {{#link-to item.pageLink item}}
            {{partial 'offer/recent_item_message'}}
          {{/link-to}}
        {{/if}}
      </li>
    {{/each}}

  </ul>
</div>
