{{#init-foundation}}
  <nav class="tab-bar submitted_page">
    <section class="left-small">
      <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">
        {{pageTitle}}
      </h1>
    </section>

    {{partial 'search_link'}}
  </nav>
{{/init-foundation}}
