{{partial 'offers/nav_bar'}}

<section class="main-section">
  <div class="row">
    <div class="small-12 columns item-content">
      <ul class="list list-activity list-offer-items">

        {{#vertical-collection
          content=arrangedContent
          defaultHeight=90
          alwaysUseDefaultHeight=true
          containerSelector="body"
          as |offer|
          }}
              {{partial 'offers/offer_details'}}
          {{/vertical-collection}}

      </ul>
    </div>
  </div>
</section>


