<div class="row">
  <div class="small-12 columns item-content">
    <ul class="list list-activity list-offer-items">
      {{#if scheduledOffers}}
        {{schedule-selection schedules=allScheduled currentController=this on-change=(action (mut filterValue)) }}
      {{/if}}

      {{#vertical-collection
        content=(js-x "p0 || p1" filteredOffers (js-x "p0 || p1" arrangedContent model))
        defaultHeight=90
        alwaysUseDefaultHeight=true
        containerSelector="body"
        as |offer|
        }}
            {{partial 'offers/offer_details'}}
        {{/vertical-collection}}

      {{#if displaySearchOfferMessage}}
        <li class="search-offer-message">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          {{t "inbox.search_offer_message"}}
        </li>
      {{/if}}

    </ul>
  </div>
</div>
