{{#if session.isLoggedIn}}
  <a href="#" {{action "displayNotification"}} class='all_unread_messages_count'>
    <i class="fa fa-bell-o"></i>
    {{#if model.length }}
      <span class="unread">
        <div class="unread_length">{{model.length}}</div>
      </span>
    {{/if}}
  </a>
{{/if}}